
projeto conta bancaria/ContaBancaria/target/classes/com/mycompany/contabancaria/Banco.class
projeto conta bancaria/ContaBancaria/target/classes/com/mycompany/contabancaria/ContaBancaria.class
/Calculadora_De_Juros/target/
/CalculoIMC_com_Swing/target/
/.metadata/
